USE [LevelUp]
GO
/****** Object:  StoredProcedure [dbo].[Carrinho_Crud]    Script Date: 29/10/2025 21:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Carrinho_Crud]
@Action VARCHAR(10),
@ProdutoId INT = null,
@Quantidade INT = null,
@UsuarioId INT = null
AS
BEGIN
 SET NOCOUNT ON;

 IF @Action =  'SELECT'
    BEGIN
		SELECT c.ProdutoId,p.ProdutoNome,p.Preco,c.Quantidade AS Qtd,p.Quantidade AS PrdQtd 
		FROM Carrinho c
		INNER JOIN Produto p on p.ProdutoId = c.ProdutoId
		WHERE c.UsuarioId = @UsuarioId
	END

	IF @Action =  'INSERT'
    BEGIN
		INSERT INTO Carrinho(ProdutoId,Quantidade,UsuarioId,DataCriacao)
		VALUES(@ProdutoId,@Quantidade,@UsuarioId,GETDATE())
	END

	IF @Action =  'UPDATE'
    BEGIN
		UPDATE Carrinho
		SET Quantidade = @Quantidade
		WHERE ProdutoId = @ProdutoId AND UsuarioId = @UsuarioId
	END

		IF @Action =  'DELETE'
    BEGIN
		DELETE FROM Carrinho
		WHERE ProdutoId = @ProdutoId AND UsuarioId = @UsuarioId
	END

	IF @Action =  'GETBYID'
    BEGIN
		SELECT * FROM Carrinho 
		WHERE ProdutoId = @ProdutoId AND UsuarioId = @UsuarioId
	END

	 IF @Action = 'TOTAL'
    BEGIN
        SELECT ISNULL(SUM(Quantidade),0) AS TotalItens
        FROM Carrinho
        WHERE UsuarioId = @UsuarioId;
    END

END
