USE [LevelUp]
GO
/****** Object:  StoredProcedure [dbo].[Dashboard]    Script Date: 10/11/2025 14:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Dashboard]
@Action VARCHAR(20) = NULL
AS
BEGIN

SET NOCOUNT ON;

	IF @Action = 'CATEGORIAS'
    BEGIN
		SELECT COUNT(*) FROM dbo.Categoria
	END

	IF @Action = 'SUBCATEGORIA'
    BEGIN
		SELECT COUNT(*) FROM dbo.SubCategoria
	END

	IF @Action = 'PRODUTO'
    BEGIN
		SELECT COUNT(*) FROM dbo.Produto
	END

	IF @Action = 'USUARIO'
    BEGIN
		SELECT COUNT(*) FROM dbo.Usuarios
	END

	IF @Action = 'VALORTOTAL'
    BEGIN
		SELECT SUM(o.Quantidade * p.Preco) FROM Pedidos o
		INNER JOIN Produto p ON p.ProdutoId = o.ProdutoId
	END

	IF @Action = 'CONTATO'
    BEGIN
		SELECT COUNT(*) FROM dbo.Contato
	END

END

