USE [LevelUp]
GO
/****** Object:  StoredProcedure [dbo].[Produto_Crud]    Script Date: 03/11/2025 01:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Produto_Crud]
	@Action VARCHAR(20),
	@ProdutoId INT = NULL,
	@ProdutoNome VARCHAR(50) = NULL,
	@DescricaoCurta VARCHAR(200) = NULL,
	@DescricaoLonga VARCHAR(MAX) = NULL,
	@AdicionalDescricao VARCHAR(MAX) = NULL,
	@Preco DECIMAL(18,2) = 0,
	@Quantidade INT = NULL,
	@Tamanho VARCHAR(100) = NULL,
	@Cor VARCHAR(100) = NULL,
	@NomeEmpresa VARCHAR(100) = NULL,
   -- @Tags VARCHAR(100) = NULL,-
	@ImagemUrl VARCHAR(MAX) = NULL,
	@ImagemPadrao BIT = false,
	@CategoriaId INT = NULL,
	@SubCategoriaId INT = NULL,
	@Vendido INT = NULL,
	@Personalizado BIT = false,
	@EstaAtivo BIT = false,
	@ImagemPadraoPos INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Action = 'SELECT')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.Preco,p.Quantidade,p.CategoriaId,
		p.SubCategoriaId,p.EstaAtivo,c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl,p.Vendido,p.DataCriacao
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE pimg.ImagemPadrao = 1 
		ORDER BY p.DataCriacao DESC
    END

    IF (@Action = 'ACTIVEPRODUTO')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.Preco,p.Quantidade,p.CategoriaId,
		p.SubCategoriaId,p.EstaAtivo,c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl,p.Vendido,p.DataCriacao
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE pimg.ImagemPadrao = 1 AND p.EstaAtivo = 1 AND s.EstaAtivo = 1
		ORDER BY p.DataCriacao DESC
    END

    IF (@Action = 'PRDTBYCATEGORIA')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.Preco,p.Quantidade,p.CategoriaId,
		p.SubCategoriaId,p.EstaAtivo,c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl,p.Vendido,p.DataCriacao
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE pimg.ImagemPadrao = 1 AND p.EstaAtivo = 1 AND s.EstaAtivo = 1 AND c.CategoriaId = @CategoriaId
		ORDER BY p.DataCriacao DESC
    END

	IF (@Action = 'PRDTBYSUBCATEGORIA')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.Preco,p.Quantidade,p.CategoriaId,
		p.SubCategoriaId,p.EstaAtivo,c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl,p.Vendido,p.DataCriacao
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE pimg.ImagemPadrao = 1 AND p.EstaAtivo = 1 AND s.EstaAtivo = 1 AND s.SubCategoriaId = @SubCategoriaId
		ORDER BY p.DataCriacao DESC
    END

	IF (@Action = 'PRODUTOSEARCH')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.Preco,p.Quantidade,p.CategoriaId,
		p.SubCategoriaId,p.EstaAtivo,c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl,p.Vendido,p.DataCriacao
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE pimg.ImagemPadrao = 1 AND p.EstaAtivo = 1 AND s.EstaAtivo = 1
		AND p.ProdutoNome LIKE '%' + @ProdutoNome + '%'
		ORDER BY p.DataCriacao DESC
    END

	--INSERT
	IF (@Action = 'INSERT')
	BEGIN
		INSERT INTO Produto (ProdutoNome,DescricaoCurta,DescricaoLonga,AdicionalDescricao,Preco,Quantidade,
		Tamanho,Cor,NomeEmpresa,CategoriaId,SubCategoriaId,Personalizado,EstaAtivo,Vendido,DataCriacao)
		VALUES (@ProdutoNome,@DescricaoCurta,@DescricaoLonga,@AdicionalDescricao,@Preco,@Quantidade,
		@Tamanho,@Cor,@NomeEmpresa,@CategoriaId,@SubCategoriaId,@Personalizado,@EstaAtivo,0, GETDATE())

		SELECT SCOPE_IDENTITY() AS ProdutoId;
	END

	--INSERT IMGS
	IF (@Action = 'INSERT_PROD_IMG')
	BEGIN
		INSERT INTO ProdutoImg (ImagemUrl,ProdutoId,ImagemPadrao)
		VALUES (@ImagemUrl,@ProdutoId,@ImagemPadrao)
	END

	--DELETE IMGS
    IF (@Action = 'DELETE_PROD_IMG')
    BEGIN
        DELETE FROM ProdutoImg WHERE ProdutoId = @ProdutoId;
        RETURN;
    END

    IF (@Action = 'UPDATE')
    BEGIN
		BEGIN     
            UPDATE Produto
            SET ProdutoNome   = @ProdutoNome,
                DescricaoCurta = @DescricaoCurta,
                DescricaoLonga  = @DescricaoLonga,
				AdicionalDescricao  = @AdicionalDescricao,
				Preco  = @Preco,
				Quantidade  = @Quantidade,
				Tamanho  = @Tamanho,
				Cor  = @Cor,
				NomeEmpresa  = @NomeEmpresa,
				CategoriaId  = @CategoriaId,
				SubCategoriaId  = @SubCategoriaId,
				Personalizado  = @Personalizado,
				EstaAtivo  = @EstaAtivo
            WHERE ProdutoId = @ProdutoId;
        END
    END

	
    IF (@Action = 'UPDATE_IMG_POS')
    BEGIN
		BEGIN     
            UPDATE ProdutoImg
            SET ImagemPadrao = 0
            WHERE ImagemPadrao = 1 AND ProdutoId = ProdutoId;

			UPDATE ProdutoImg
            SET ImagemPadrao = 1
            WHERE ImagemId = dbo.GET_POS(@ProdutoId, @ImagemPadraoPos)
        END
    END

	-- quantidade e item vendido
	 IF (@Action = 'QTY_UPDATE')
    BEGIN
		BEGIN     
            UPDATE Produto
            SET Quantidade  = @Quantidade,
				Vendido = Vendido
            WHERE ProdutoId = @ProdutoId;
        END
    END

	--Deletar produto
    IF (@Action = 'DELETE')
    BEGIN
        DELETE FROM Produto WHERE ProdutoId = @ProdutoId;
        RETURN;
    END

			--SELECT recente produto
    IF (@Action = 'RECENT_PRODUTO')
    BEGIN
        SELECT ISNULL(MAX(ProdutoId),0) AS ProdutoId FROM Produto 
        RETURN;
    END

		--SELECT recente produto
    IF (@Action = 'RECENT_PRODUTOS')
    BEGIN
        SELECT * FROM Produto WHERE ProdutoId = @ProdutoId;
        RETURN;
    END

    IF (@Action = 'GETBYID')
    BEGIN
        SELECT p.ProdutoId,p.ProdutoNome,p.DescricaoCurta,p.DescricaoLonga,p.AdicionalDescricao,p.Preco,p.Quantidade,p.Vendido,
		p.Cor,p.Tamanho,p.NomeEmpresa,p.CategoriaId,p.SubCategoriaId,c.CategoriaNome,s.SubcategoriaNome,p.Personalizado,p.EstaAtivo,
		STUFF((SELECT '; ' + pimg.ImagemUrl + ': ' + CONVERT(VARCHAR, ISNULL(pimg.ImagemPadrao,0))
				FROM ProdutoImg pimg
				WHERE pimg.ProdutoId = p.ProdutoId
				FOR XML PATH('')), 1, 1, '') [Imagem1]
		FROM Produto p
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubcategoriaId = s.SubcategoriaId
        WHERE p.ProdutoId = @ProdutoId
    END

	--SELECT TOP 5 PRODUTOS
	IF (@Action = 'SUBCATEGORIABYID')
    BEGIN
        SELECT TOP 5 p.ProdutoId,p.ProdutoNome,p.Preco,p.CategoriaId,p.SubCategoriaId,
		c.CategoriaNome,s.SubCategoriaNome,pimg.ImagemUrl
		FROM Produto p
		INNER JOIN ProdutoImg pimg ON p.ProdutoId = pimg.ProdutoId
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubcategoriaId = s.SubcategoriaId
        WHERE pimg.ImagemPadrao = 1 AND p.EstaAtivo = 1
    END

	IF (@Action = 'GETPRODUTO_PUBLIC')
	BEGIN
		-- Dados do produto para página de detalhes
		SELECT p.ProdutoId, p.ProdutoNome, p.DescricaoCurta, p.DescricaoLonga, 
		p.AdicionalDescricao, p.Preco, p.Quantidade, p.Vendido,
		p.Cor, p.Tamanho, p.NomeEmpresa, p.CategoriaId, p.SubCategoriaId,
		c.CategoriaNome, s.SubCategoriaNome
		FROM Produto p
		INNER JOIN Categoria c ON p.CategoriaId = c.CategoriaId
		INNER JOIN SubCategoria s ON p.SubCategoriaId = s.SubCategoriaId
		WHERE p.ProdutoId = @ProdutoId AND p.EstaAtivo = 1;

		-- Imagens do produto (trazendo principal primeiro)
		SELECT ImagemId, ImagemUrl, ImagemPadrao
		FROM ProdutoImg 
		WHERE ProdutoId = @ProdutoId
		ORDER BY ImagemPadrao DESC, ImagemId ASC;
	END

END
